
:root {
    
    --bg-color: #1a2a3a; 
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
   
    --side-padding: 4%; 
}

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
            text-decoration: none;
            outline: none;
            border: none;
            scroll-behavior: smooth;
        }

        html {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        body {
           
            background: var(--bg-color);
            color: var(--text-color);
        }

        section {
           
            padding: 10rem var(--side-padding) 2rem;
            min-height: 100vh;
        }

      
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        
            padding: 2rem var(--side-padding); 
            background: #1a2a3b;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        .logo {
            font-size: 2.5rem;
            color: var(--text-color);
            font-weight: 600;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
        }

        .logo span {
            color: var(--main-color);
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
        }

       
        .home {
            display: flex;
            justify-content: center;
            align-items: center;
            
            min-height: calc(100vh - 4rem); 
            padding-top: 8rem; 
        }

        .home-content {
            max-width: 45rem;
            flex: 1 1 50%; 
        }

        .home-content h3 {
            font-size: 3.2rem;
            font-weight: 700;
        }

        .home-content h3:nth-child(2) {
            margin-bottom: 2rem;
        }

        .home-content h1 {
            font-size: 5.6rem;
            font-weight: 700;
            line-height: 1.3;
        }
        
       
        .home-content .multiple-text {
            color: var(--main-color);
        }

        .home-content p {
            font-size: 1.6rem;
        }
        
        
         .footer {
           
            display: flex;
            justify-content: space-between; 
            align-items: center;
            
            padding: 1rem var(--side-padding); 
            background: var(--bg-color);
            position: fixed; 
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 90;
        }
        
        .footer-text {
            font-size: 1.4rem;
            color: var(--text-color);
            font-weight: 700;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: right; 
        }

        .footer .social-media {
            display: flex;
            justify-content: flex-start; 
            align-items: center;
        }

        .footer .social-media a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background: transparent;
            border: .2rem solid var(--main-color);
            border-radius: 50%;
            font-size: 2rem;
            color: var(--main-color);
            margin: 0 1.5rem 0 0; 
            transition: .5s ease;
        }

        .footer .social-media a:hover {
            background: var(--main-color);
            color: var(--second-bg-color);
            box-shadow: 0 0 1rem var(--main-color);
        }
        .bio-slides {
    
                min-height: 10rem; 
                position: relative;
                margin-top: 1.5rem;
            }

            .bio-slides p {
                font-size: 1.6rem;
                line-height: 1.6;
                margin-bottom: 2rem;
                opacity: 0; 
                position: absolute; 
                top: 0;
                left: 0;
                width: 100%;
                
                transition: opacity 0.5s ease-in-out; 
            }

            .bio-slides p.active {
                opacity: 1; 
                position: static; 
            }


            .slide-dots {
                        display: flex;
                        justify-content: flex-start; 
                        gap: 0.8rem;
                        margin-top: 2rem;
                    }

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: var(--text-color);
            opacity: 0.3; 
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .dot:hover {
            opacity: 0.6;
            transform: scale(1.1);
        }

        .dot.active {
            opacity: 1; 
            background-color: var(--main-color); 
            transform: scale(1.3);
            box-shadow: 0 0 5px var(--main-color);
        }


@media (max-width: 991px) {
    .slide-navigation {
        
        justify-content: center; 
    }
}
        
        
        .home-img {
            flex: 1 1 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 400px; 
        }

        .home-img img {
            width: 100%;
            max-width: 350px;
            height: auto;
            border-radius: 20px;
             border: 0.4rem solid var(--main-color);
            box-shadow: 0 0 50px var(--main-color);
            transition: 1s ease;
            animation: floatImage 4s ease-in-out infinite;
        }

        @keyframes floatImage {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-2.4rem);
            }
            100% {
                transform: translateY(0);
            }
        }

        

      
        @media (max-width: 1200px) {
            html {
                font-size: 55%;
            }
        }

        
        @media (max-width: 991px) {
            .header {
                padding: 2rem 3%;
            }
            section {
                padding: 10rem 3% 2rem;
            }
            
            .home {
                flex-direction: column;
                text-align: center;
                
                padding-bottom: 6rem; 
            }
            .home-content {
                max-width: 100%; 
            }
            .home-img {
                margin-top: 3rem;
                max-width: 300px;
            }
            .footer {
                flex-direction: column;
                padding: 0.5rem 3%;
            }
            .footer-text {
               
                text-align: center; 
                margin-bottom: 0.5rem;
            }
            .footer .social-media {
                justify-content: center;
            }
            .footer .social-media a {
                margin: 0.5rem 0.75rem 1rem 0.75rem;
            }
        }

      
        @media (max-width: 768px) {
            .home-content h1 {
                font-size: 5rem;
            }
            .home-content h3 {
                font-size: 2.6rem;
            }
            
            .home {
                padding-top: 8rem;
                padding-bottom: 10rem; 
            }
        }

       
        @media (max-width: 450px) {
            html {
                font-size: 50%;
            }
            .home-content h1 {
                font-size: 4rem;
            }
            .home-content h3 {
                font-size: 2rem;
            }
            .home-img {
                max-width: 250px;
            }
            .footer .social-media a {
                width: 3rem;
                height: 3rem;
                font-size: 1.5rem;
            }
        }
  